-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: construction_site_management
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accountant_projects`
--

DROP TABLE IF EXISTS `accountant_projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accountant_projects` (
  `id` int NOT NULL AUTO_INCREMENT,
  `accountant_id` int NOT NULL,
  `project_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `accountant_id` (`accountant_id`),
  KEY `project_id` (`project_id`),
  CONSTRAINT `accountant_projects_ibfk_1` FOREIGN KEY (`accountant_id`) REFERENCES `register` (`id`),
  CONSTRAINT `accountant_projects_ibfk_2` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `architect_projects`
--

DROP TABLE IF EXISTS `architect_projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `architect_projects` (
  `id` int NOT NULL AUTO_INCREMENT,
  `architect_id` int DEFAULT NULL,
  `project_name` varchar(255) DEFAULT NULL,
  `building_usage` varchar(100) DEFAULT NULL,
  `num_floors` int DEFAULT NULL,
  `area_sqft` float DEFAULT NULL,
  `plot_area` float DEFAULT NULL,
  `fsi` varchar(50) DEFAULT NULL,
  `architect_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `architects`
--

DROP TABLE IF EXISTS `architects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `architects` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `license_number` varchar(50) DEFAULT NULL,
  `contact_no` varchar(15) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `project_name` varchar(255) DEFAULT NULL,
  `site_engineer_id` int DEFAULT NULL,
  `register_id` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance` (
  `id` int NOT NULL AUTO_INCREMENT,
  `worker_name` varchar(100) NOT NULL,
  `date` date NOT NULL,
  `status` enum('Present','Absent','Half Day') NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cost_estimation`
--

DROP TABLE IF EXISTS `cost_estimation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cost_estimation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `architectural_design_cost` float DEFAULT NULL,
  `structural_design_cost` float DEFAULT NULL,
  `estimation_summary` text,
  `boq_reference` text,
  `cost_per_sqft` float DEFAULT NULL,
  `report_pdf_path` varchar(255) DEFAULT NULL,
  `uploaded_on` datetime DEFAULT NULL,
  `project_id` int DEFAULT NULL,
  `architect_id` int DEFAULT NULL,
  `generated_on` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `daily_worker_report`
--

DROP TABLE IF EXISTS `daily_worker_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_worker_report` (
  `id` int NOT NULL AUTO_INCREMENT,
  `site_engineer_id` int NOT NULL,
  `project_id` int NOT NULL,
  `worker_count` int NOT NULL,
  `report_date` date NOT NULL,
  PRIMARY KEY (`id`),
  KEY `site_engineer_id` (`site_engineer_id`),
  KEY `project_id` (`project_id`),
  CONSTRAINT `daily_worker_report_ibfk_1` FOREIGN KEY (`site_engineer_id`) REFERENCES `register` (`id`),
  CONSTRAINT `daily_worker_report_ibfk_2` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `design_details`
--

DROP TABLE IF EXISTS `design_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `design_details` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int DEFAULT NULL,
  `architect_id` int DEFAULT NULL,
  `building_usage` varchar(100) DEFAULT NULL,
  `num_floors` int DEFAULT NULL,
  `area_sqft` float DEFAULT NULL,
  `plot_area` float DEFAULT NULL,
  `fsi` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `drawing_documents`
--

DROP TABLE IF EXISTS `drawing_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `drawing_documents` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int NOT NULL,
  `architect_id` int DEFAULT NULL,
  `layout_type` enum('Architectural Layout','Elevation Drawing','Section/Structural','Electrical','Plumbing/Sanitation') NOT NULL,
  `document_title` varchar(255) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `uploaded_on` datetime DEFAULT CURRENT_TIMESTAMP,
  `uploaded_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  KEY `architect_id` (`architect_id`),
  KEY `uploaded_by` (`uploaded_by`),
  CONSTRAINT `drawing_documents_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`),
  CONSTRAINT `drawing_documents_ibfk_2` FOREIGN KEY (`architect_id`) REFERENCES `register` (`id`),
  CONSTRAINT `drawing_documents_ibfk_3` FOREIGN KEY (`uploaded_by`) REFERENCES `register` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `enquiries`
--

DROP TABLE IF EXISTS `enquiries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `enquiries` (
  `id` int NOT NULL AUTO_INCREMENT,
  `site_engineer_id` int DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `address` text NOT NULL,
  `contact_no` varchar(15) NOT NULL,
  `requirement` text NOT NULL,
  `enquiry_date` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `site_engineer_id` (`site_engineer_id`),
  CONSTRAINT `enquiries_ibfk_1` FOREIGN KEY (`site_engineer_id`) REFERENCES `register` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `inventory`
--

DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory` (
  `material_id` int NOT NULL AUTO_INCREMENT,
  `material_description` varchar(255) NOT NULL,
  `quantity` int NOT NULL,
  `date` date NOT NULL,
  `status` enum('available','low','out_of_stock','ordered') NOT NULL,
  PRIMARY KEY (`material_id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `invoice_items`
--

DROP TABLE IF EXISTS `invoice_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoice_items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `invoice_id` int NOT NULL,
  `description` varchar(255) NOT NULL,
  `quantity` int NOT NULL,
  `rate` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `invoice_id` (`invoice_id`),
  CONSTRAINT `invoice_items_ibfk_1` FOREIGN KEY (`invoice_id`) REFERENCES `invoices` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoices` (
  `id` int NOT NULL AUTO_INCREMENT,
  `site_engineer_id` int NOT NULL,
  `vendor_name` varchar(255) DEFAULT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `generated_on` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `pdf_filename` varchar(255) DEFAULT NULL,
  `invoice_number` varchar(50) DEFAULT NULL,
  `gst_amount` decimal(10,2) DEFAULT '0.00',
  `bill_to_name` varchar(255) DEFAULT NULL,
  `bill_to_address` varchar(255) DEFAULT NULL,
  `bill_to_phone` varchar(50) DEFAULT NULL,
  `subtotal` decimal(10,2) DEFAULT NULL,
  `status` varchar(20) DEFAULT 'Pending',
  `rejection_reason` text,
  `approved_by` int DEFAULT NULL,
  `approved_on` datetime DEFAULT NULL,
  `project_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `site_engineer_id` (`site_engineer_id`),
  KEY `project_id` (`project_id`),
  CONSTRAINT `invoices_ibfk_1` FOREIGN KEY (`site_engineer_id`) REFERENCES `register` (`id`),
  CONSTRAINT `invoices_ibfk_2` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `legal_and_compliances`
--

DROP TABLE IF EXISTS `legal_and_compliances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `legal_and_compliances` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int NOT NULL,
  `municipal_approval_status` enum('Approved','Not Approved') NOT NULL,
  `municipal_approval_pdf` varchar(255) DEFAULT NULL,
  `building_permit_pdf` varchar(255) DEFAULT NULL,
  `sanction_plan_pdf` varchar(255) DEFAULT NULL,
  `fire_department_noc_pdf` varchar(255) DEFAULT NULL,
  `environmental_clearance` text,
  `uploaded_on` datetime DEFAULT CURRENT_TIMESTAMP,
  `mngl_pdf` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  CONSTRAINT `legal_and_compliances_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `material_specifications`
--

DROP TABLE IF EXISTS `material_specifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `material_specifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int DEFAULT NULL,
  `architect_id` int DEFAULT NULL,
  `primary_material` varchar(100) DEFAULT NULL,
  `wall_material` varchar(100) DEFAULT NULL,
  `roofing_material` varchar(100) DEFAULT NULL,
  `flooring_material` varchar(100) DEFAULT NULL,
  `fire_safety_materials` text,
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  KEY `architect_id` (`architect_id`),
  CONSTRAINT `material_specifications_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`),
  CONSTRAINT `material_specifications_ibfk_2` FOREIGN KEY (`architect_id`) REFERENCES `register` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sender_id` int NOT NULL,
  `receiver_id` int NOT NULL,
  `message` text NOT NULL,
  `timestamp` datetime DEFAULT CURRENT_TIMESTAMP,
  `is_read` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `sender_id` (`sender_id`),
  KEY `receiver_id` (`receiver_id`),
  CONSTRAINT `messages_ibfk_1` FOREIGN KEY (`sender_id`) REFERENCES `register` (`id`),
  CONSTRAINT `messages_ibfk_2` FOREIGN KEY (`receiver_id`) REFERENCES `register` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `progress_reports`
--

DROP TABLE IF EXISTS `progress_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `progress_reports` (
  `report_id` int NOT NULL AUTO_INCREMENT,
  `site_id` int NOT NULL,
  `progress_percent` int DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `pdf_path` varchar(255) DEFAULT NULL,
  `report_date` date NOT NULL,
  `remark` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`report_id`),
  KEY `site_id` (`site_id`),
  CONSTRAINT `progress_reports_ibfk_1` FOREIGN KEY (`site_id`) REFERENCES `sites` (`site_id`),
  CONSTRAINT `progress_reports_chk_1` CHECK ((`progress_percent` between 0 and 100))
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `projects` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_name` varchar(255) NOT NULL,
  `architect_id` int DEFAULT NULL,
  `site_engineer_id` int DEFAULT NULL,
  `site_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `architect_id` (`architect_id`),
  KEY `site_engineer_id` (`site_engineer_id`),
  CONSTRAINT `projects_ibfk_1` FOREIGN KEY (`architect_id`) REFERENCES `register` (`id`),
  CONSTRAINT `projects_ibfk_2` FOREIGN KEY (`site_engineer_id`) REFERENCES `register` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=78 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `register`
--

DROP TABLE IF EXISTS `register`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `register` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('super_admin','admin','project_manager','architect','accountant','site_engineer') NOT NULL,
  `contact_no` varchar(20) DEFAULT NULL,
  `status` enum('active','disabled') DEFAULT 'active',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `email_2` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `salaries`
--

DROP TABLE IF EXISTS `salaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `salaries` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `month_year` varchar(7) DEFAULT NULL,
  `base_salary` decimal(10,2) DEFAULT NULL,
  `allowance` decimal(10,2) DEFAULT NULL,
  `pf` decimal(10,2) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_by` int DEFAULT NULL,
  `created_on` datetime DEFAULT CURRENT_TIMESTAMP,
  `payment_mode` enum('cash','cheque') NOT NULL DEFAULT 'cash',
  `cheque_number` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  KEY `user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `site_conditions`
--

DROP TABLE IF EXISTS `site_conditions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `site_conditions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int NOT NULL,
  `architect_id` int DEFAULT NULL,
  `soil_report_path` varchar(255) DEFAULT NULL,
  `water_table_level` varchar(100) DEFAULT NULL,
  `topo_counter_map_path` varchar(255) DEFAULT NULL,
  `uploaded_on` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  KEY `architect_id` (`architect_id`),
  CONSTRAINT `site_conditions_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`),
  CONSTRAINT `site_conditions_ibfk_2` FOREIGN KEY (`architect_id`) REFERENCES `register` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sites`
--

DROP TABLE IF EXISTS `sites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sites` (
  `site_id` int NOT NULL AUTO_INCREMENT,
  `site_name` varchar(100) NOT NULL,
  `location` varchar(255) NOT NULL,
  `site_engineer_id` int NOT NULL,
  `architect_id` int DEFAULT NULL,
  PRIMARY KEY (`site_id`),
  KEY `fk_site_engineer` (`site_engineer_id`),
  CONSTRAINT `fk_site_engineer` FOREIGN KEY (`site_engineer_id`) REFERENCES `register` (`id`),
  CONSTRAINT `sites_ibfk_1` FOREIGN KEY (`site_engineer_id`) REFERENCES `register` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `structural_details`
--

DROP TABLE IF EXISTS `structural_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `structural_details` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int DEFAULT NULL,
  `architect_id` int DEFAULT NULL,
  `foundation_type` varchar(100) DEFAULT NULL,
  `framing_system` varchar(100) DEFAULT NULL,
  `slab_type` varchar(100) DEFAULT NULL,
  `beam_details` text,
  `load_calculation` text,
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  KEY `architect_id` (`architect_id`),
  CONSTRAINT `structural_details_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`),
  CONSTRAINT `structural_details_ibfk_2` FOREIGN KEY (`architect_id`) REFERENCES `register` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `utilities_services`
--

DROP TABLE IF EXISTS `utilities_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilities_services` (
  `id` int NOT NULL AUTO_INCREMENT,
  `project_id` int NOT NULL,
  `architect_id` int DEFAULT NULL,
  `water_supply_source` varchar(255) DEFAULT NULL,
  `drainage_system_type` varchar(255) DEFAULT NULL,
  `power_supply_source` varchar(255) DEFAULT NULL,
  `uploaded_on` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  KEY `architect_id` (`architect_id`),
  CONSTRAINT `utilities_services_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`),
  CONSTRAINT `utilities_services_ibfk_2` FOREIGN KEY (`architect_id`) REFERENCES `register` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vendor_inventory`
--

DROP TABLE IF EXISTS `vendor_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendor_inventory` (
  `id` int NOT NULL AUTO_INCREMENT,
  `material_description` varchar(255) NOT NULL,
  `quantity` int NOT NULL,
  `date` date NOT NULL,
  `status` enum('available','low','out_of_stock','ordered') NOT NULL,
  `vendor_name` varchar(100) NOT NULL,
  `vendor_quotation_pdf` varchar(255) DEFAULT NULL,
  `admin_remark` varchar(255) DEFAULT NULL,
  `admin_approval` enum('pending','approved','rejected') DEFAULT 'pending',
  `price` decimal(10,2) DEFAULT '0.00',
  `vendor_type` enum('electrical','plumber','carpenter','painter','other') NOT NULL DEFAULT 'other',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-24  9:38:10
